@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus, :visited {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    color: #ff5912; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #333333;
  font-weight: 400; }

.header-container, .footer-container {
  max-width: 1340px;
  margin: 0 auto; }

header {
  border-bottom: 1px solid #f6f6f6;
  padding: 30px 50px; }
  @media (max-width: 767px) {
    header {
      padding: 30px 20px; } }
  header .top-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 570px) {
      header .top-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    header .top-menu ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 570px) {
        header .top-menu ul {
          width: 100%;
          margin-bottom: 20px; }
          header .top-menu ul:last-child {
            margin-bottom: 0;
            margin-right: auto; } }
      header .top-menu ul li {
        margin-right: 20px; }
        @media (max-width: 570px) {
          header .top-menu ul li {
            margin-right: 15px; } }
        header .top-menu ul li:first-child img {
          width: 20px; }
          @media (max-width: 570px) {
            header .top-menu ul li:first-child img {
              width: 15px; } }
        header .top-menu ul li img {
          margin-right: 5px;
          width: 15px; }
        header .top-menu ul li:last-child {
          margin-right: 0; }
        @media (max-width: 570px) {
          header .top-menu ul li a {
            font-size: 12px; } }
      header .top-menu ul.social-links {
        margin-left: auto; }
        @media (max-width: 570px) {
          header .top-menu ul.social-links {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end; } }
        header .top-menu ul.social-links li a {
          padding: 7px 10px; }
          @media (max-width: 570px) {
            header .top-menu ul.social-links li a {
              display: block; } }
        header .top-menu ul.social-links li.newUser a {
          padding: 7px 20px;
          border: 1px solid #ff7439;
          border-radius: 3px; }

.menu-section {
  padding: 25px 50px; }
  @media (max-width: 767px) {
    .menu-section {
      padding: 25px 20px; } }
  .menu-section .main-menu-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 820px) {
      .menu-section .main-menu-wrapper img {
        width: 250px; } }
    @media (max-width: 650px) {
      .menu-section .main-menu-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .menu-section .main-menu-wrapper .main-menu {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
      margin-top: auto; }
      @media (max-width: 650px) {
        .menu-section .main-menu-wrapper .main-menu {
          width: 100%;
          margin-top: 30px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .menu-section .main-menu-wrapper .main-menu li {
        margin-right: 35px; }
        @media (max-width: 550px) {
          .menu-section .main-menu-wrapper .main-menu li {
            margin-right: 20px; } }
        .menu-section .main-menu-wrapper .main-menu li:last-child {
          margin-right: 0; }
        .menu-section .main-menu-wrapper .main-menu li.active a {
          color: #ff7439;
          position: relative;
          display: block; }
          .menu-section .main-menu-wrapper .main-menu li.active a:before {
            content: '';
            height: 4px;
            background: #ff7439;
            width: 20px;
            position: absolute;
            bottom: -10px;
            border-radius: 15px; }

.banner-wrapper {
  background: url("../images/banner.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 115px 0;
  position: relative; }
  @media (max-width: 767px) {
    .banner-wrapper {
      padding: 30px 0;
      padding-bottom: 90px; } }
  .banner-wrapper .banner-content {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto; }
    .banner-wrapper .banner-content h2 {
      font-size: 40px;
      font-weight: 500;
      line-height: 1.6em; }
      @media (max-width: 767px) {
        .banner-wrapper .banner-content h2 {
          font-size: 25px;
          margin-bottom: 30px; } }
    .banner-wrapper .banner-content p {
      font-size: 24px;
      margin-bottom: 50px;
      line-height: 1.4em; }
      @media (max-width: 767px) {
        .banner-wrapper .banner-content p {
          font-size: 18px;
          margin-bottom: 35px;
          line-height: 1.6em; } }
    .banner-wrapper .banner-content img {
      position: absolute;
      bottom: 0;
      right: 70px; }
      @media (max-width: 767px) {
        .banner-wrapper .banner-content img {
          width: 150px;
          right: 20px; } }
    .banner-wrapper .banner-content a {
      padding: 10px;
      background: #fc4111;
      width: 150px;
      color: #ffffff;
      display: inline-block;
      text-align: center; }

.inner-container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto; }
  .inner-container h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 1.8em; }
    @media (max-width: 767px) {
      .inner-container h2 {
        font-size: 30px;
        margin-bottom: 10px; } }
  .inner-container p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.8em; }
    .inner-container p:last-child {
      margin-bottom: 0; }

.dates-wrapper {
  padding: 20px 0;
  background: #2f2f2f; }
  .dates-wrapper ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 670px) {
      .dates-wrapper ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .dates-wrapper ul li {
      color: #ffffff;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-right: 20px;
      border-right: 1px solid #ffffff; }
      @media (max-width: 670px) {
        .dates-wrapper ul li {
          width: 100%;
          padding-right: 0;
          border-right: none;
          margin-bottom: 20px; } }
      .dates-wrapper ul li p {
        font-size: 16px;
        margin-right: 20px;
        margin-bottom: 0; }
        @media (max-width: 670px) {
          .dates-wrapper ul li p {
            font-size: 14px;
            margin-right: 0; } }
        .dates-wrapper ul li p.date {
          font-size: 20px;
          font-weight: 300;
          line-height: 1.6em; }
          @media (max-width: 670px) {
            .dates-wrapper ul li p.date {
              margin-left: auto;
              font-size: 16px; } }
      .dates-wrapper ul li:last-child {
        margin-right: 0;
        margin-left: 20px;
        padding-left: 20px;
        border-right: none;
        padding-right: 0; }
        @media (max-width: 670px) {
          .dates-wrapper ul li:last-child {
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 0; } }

.certification-section {
  background: #f4f6f8;
  padding: 90px 0; }
  @media (max-width: 767px) {
    .certification-section {
      padding: 30px 0; } }

.levels-section {
  padding: 60px 0; }
  @media (max-width: 767px) {
    .levels-section {
      padding: 40px 0; } }
  .levels-section h2 {
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .levels-section h2 {
        text-align: left; } }
  .levels-section .tabs-section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .levels-section .tabs-section {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .levels-section .tabs-section li {
      margin-right: 60px; }
      @media (max-width: 767px) {
        .levels-section .tabs-section li {
          margin-right: 20px; } }
      .levels-section .tabs-section li:last-child {
        margin-right: 0; }
      .levels-section .tabs-section li a {
        font-weight: 700;
        font-size: 18px;
        color: #ff2700;
        position: relative; }
        @media (max-width: 767px) {
          .levels-section .tabs-section li a {
            font-size: 16px; } }
        .levels-section .tabs-section li a.active {
          color: #333333; }
          .levels-section .tabs-section li a.active:before {
            content: '';
            height: 4px;
            background: #ff7439;
            width: 20px;
            position: absolute;
            bottom: -10px;
            border-radius: 15px; }
  .levels-section .tabs-content {
    position: relative; }
  .levels-section .tabs-wrapper {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    position: absolute; }
    .levels-section .tabs-wrapper.active {
      opacity: 1; }
  .levels-section .course-details {
    margin-top: 30px; }
    .levels-section .course-details h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.8em; }
    .levels-section .course-details ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
      @media (max-width: 736px) {
        .levels-section .course-details ul {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
      .levels-section .course-details ul li {
        width: 40%; }
        @media (max-width: 736px) {
          .levels-section .course-details ul li {
            width: 100%;
            margin-bottom: 20px; } }
        .levels-section .course-details ul li:last-child {
          width: 60%; }
          @media (max-width: 736px) {
            .levels-section .course-details ul li:last-child {
              width: 100%;
              margin-bottom: 0px; } }
        .levels-section .course-details ul li p {
          margin-bottom: 20px; }
        .levels-section .course-details ul li a {
          color: #ff2700; }
          .levels-section .course-details ul li a:hover {
            text-decoration: underline; }
      .levels-section .course-details ul.price-details {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .levels-section .course-details ul.price-details .prices {
          position: relative; }
          @media (max-width: 767px) {
            .levels-section .course-details ul.price-details .prices {
              margin-top: 50px; } }
          .levels-section .course-details ul.price-details .prices img {
            margin-left: -50px; }
            @media (max-width: 836px) {
              .levels-section .course-details ul.price-details .prices img {
                width: 450px; } }
            @media (max-width: 767px) {
              .levels-section .course-details ul.price-details .prices img.desktop-img {
                display: none; } }
            .levels-section .course-details ul.price-details .prices img.mobile-img {
              display: none; }
              @media (max-width: 767px) {
                .levels-section .course-details ul.price-details .prices img.mobile-img {
                  display: block;
                  width: 100%;
                  margin-left: 0;
                  margin-top: -70px; } }
          .levels-section .course-details ul.price-details .prices .price-list {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            padding: 25px 35px;
            padding-left: 55px; }
            @media (max-width: 836px) {
              .levels-section .course-details ul.price-details .prices .price-list {
                padding: 10px 25px; } }
            @media (max-width: 767px) {
              .levels-section .course-details ul.price-details .prices .price-list {
                padding-top: 60px; } }
            .levels-section .course-details ul.price-details .prices .price-list strong {
              font-weight: 700;
              margin-right: 25px; }
              @media (max-width: 767px) {
                .levels-section .course-details ul.price-details .prices .price-list strong {
                  display: block; } }
            .levels-section .course-details ul.price-details .prices .price-list p {
              margin-bottom: 10px; }
      .levels-section .course-details ul.enroll-link a {
        padding: 10px;
        background: #fc4111;
        width: 150px;
        color: #ffffff;
        display: inline-block;
        text-align: center;
        margin-left: 12px;
        margin-top: 40px; }
        @media (max-width: 736px) {
          .levels-section .course-details ul.enroll-link a {
            margin-top: 0;
            margin-bottom: 0px; } }

.left,
.middle,
.right,
.prev,
.next {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }

.testimonials-section {
  background: #f4f6f8;
  padding: 90px 0;
  padding-bottom: 110px;
  overflow: hidden; }
  .testimonials-section h2 {
    margin-bottom: 0; }
  .testimonials-section p {
    text-align: center; }
  .testimonials-section .inner-container {
    position: relative; }
    .testimonials-section .inner-container .slider-nav a {
      position: absolute;
      left: 75px;
      top: 60%; }
      @media (max-width: 767px) {
        .testimonials-section .inner-container .slider-nav a {
          left: 35px; } }
      .testimonials-section .inner-container .slider-nav a img {
        width: 40px; }
        @media (max-width: 767px) {
          .testimonials-section .inner-container .slider-nav a img {
            width: 30px; } }
      .testimonials-section .inner-container .slider-nav a.next {
        left: initial;
        right: 115px; }
        @media (max-width: 767px) {
          .testimonials-section .inner-container .slider-nav a.next {
            right: 35px; } }
  .testimonials-section ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2000px;
    margin-left: -550px; }
    @media (max-width: 767px) {
      .testimonials-section ul {
        margin-left: 0;
        width: 100%; } }
    .testimonials-section ul li {
      max-width: 700px;
      margin: 0;
      padding: 40px;
      position: relative; }
      @media (max-width: 767px) {
        .testimonials-section ul li {
          max-width: 100%;
          padding: 20px; } }
      .testimonials-section ul li.middle {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2); }
      .testimonials-section ul li.left {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7); }
        @media (max-width: 767px) {
          .testimonials-section ul li.left {
            position: absolute;
            opacity: 0 !important; } }
      .testimonials-section ul li.right {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7); }
        @media (max-width: 767px) {
          .testimonials-section ul li.right {
            position: absolute;
            opacity: 0 !important; } }
      .testimonials-section ul li .testimonials-content {
        margin-left: 20%;
        padding-left: 25px;
        position: relative; }
        @media (max-width: 767px) {
          .testimonials-section ul li .testimonials-content {
            margin-left: 7%; } }
        .testimonials-section ul li .testimonials-content:before {
          content: '';
          background: url(../images/quotes.png) no-repeat;
          position: absolute;
          z-index: 3;
          color: #dfdfdf;
          font-size: 80px;
          left: -10px;
          top: -10px;
          width: 55px;
          height: 55px; }
      .testimonials-section ul li .testimonial-image {
        position: absolute;
        z-index: 2;
        bottom: 75px;
        width: 80px;
        left: 65px; }
        @media (max-width: 767px) {
          .testimonials-section ul li .testimonial-image {
            bottom: 25px;
            left: 25px;
            width: 70px; } }
      .testimonials-section ul li .testimonials-text {
        padding-right: 70px; }
        @media (max-width: 767px) {
          .testimonials-section ul li .testimonials-text {
            padding-right: 25px;
            margin-bottom: 30px; } }
      .testimonials-section ul li .name, .testimonials-section ul li .desg {
        margin-bottom: 0;
        line-height: 1.2em; }
        @media (max-width: 767px) {
          .testimonials-section ul li .name, .testimonials-section ul li .desg {
            padding-left: 55px; } }
      .testimonials-section ul li .name {
        font-weight: 700; }
      .testimonials-section ul li:before {
        width: 20%;
        height: 100%;
        background: #f7f7f7;
        left: 0;
        top: 0;
        content: '';
        position: absolute; }
      .testimonials-section ul li:after {
        width: 80%;
        height: 100%;
        background: #ffffff;
        right: 0;
        top: 0;
        content: '';
        position: absolute; }
      .testimonials-section ul li p {
        text-align: left;
        position: relative;
        z-index: 2; }
        @media (max-width: 767px) {
          .testimonials-section ul li p {
            font-size: 15px; } }
      .testimonials-section ul li .certification-details {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #9e9e9e;
        position: relative;
        z-index: 2;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media (max-width: 767px) {
          .testimonials-section ul li .certification-details {
            margin-left: 55px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
        .testimonials-section ul li .certification-details p {
          margin-bottom: 0;
          line-height: 1.2em;
          font-style: italic; }
        .testimonials-section ul li .certification-details .cert-level {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 0px;
          margin-left: auto;
          width: auto; }
          @media (max-width: 767px) {
            .testimonials-section ul li .certification-details .cert-level {
              width: 100%;
              margin-top: 5px; } }
          .testimonials-section ul li .certification-details .cert-level li {
            width: 8px;
            height: 8px;
            border: none;
            background: #c4c3c3;
            border-radius: 50%;
            padding: 0;
            margin: 0;
            margin-right: 5px;
            position: relative;
            margin-bottom: 0; }
            @media (max-width: 416px) {
              .testimonials-section ul li .certification-details .cert-level li {
                margin: 0;
                margin-right: 5px; } }
            .testimonials-section ul li .certification-details .cert-level li:before, .testimonials-section ul li .certification-details .cert-level li:after {
              display: none; }
            .testimonials-section ul li .certification-details .cert-level li.blue {
              background: #387fcb; }
            .testimonials-section ul li .certification-details .cert-level li.yellow {
              background: #f7ce44; }
            .testimonials-section ul li .certification-details .cert-level li.orange {
              background: #e86c1f; }
            .testimonials-section ul li .certification-details .cert-level li.red {
              background: #e81c1c; }

.users-section {
  padding: 90px 0; }
  .users-section h2 {
    margin-bottom: 0px; }
  .users-section p {
    text-align: center; }
  .users-section .users-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 30px;
    cursor: pointer; }
    @media (max-width: 767px) {
      .users-section .users-list {
        padding-top: 15px; } }
    .users-section .users-list li {
      width: 22%;
      padding: 40px 35px;
      padding-bottom: 20px;
      border: 1px solid #efefef;
      margin-right: 4%;
      position: relative;
      margin-bottom: 4%; }
      @media (max-width: 970px) {
        .users-section .users-list li {
          padding: 25px; } }
      @media (max-width: 876px) {
        .users-section .users-list li {
          width: 31.33%;
          margin-right: 3%;
          padding: 40px 35px; } }
      @media (max-width: 692px) {
        .users-section .users-list li {
          width: 49%;
          margin-right: 2%; } }
      @media (max-width: 462px) {
        .users-section .users-list li {
          padding: 25px; } }
      @media (max-width: 416px) {
        .users-section .users-list li {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          padding: 35px;
          width: 210px; } }
      .users-section .users-list li:hover {
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }
      .users-section .users-list li img {
        position: relative;
        z-index: 2; }
      .users-section .users-list li h3 {
        font-weight: 700;
        margin-top: 40px;
        font-size: 16px;
        position: relative;
        z-index: 2; }
      .users-section .users-list li p {
        text-align: left;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.2em;
        position: relative;
        z-index: 2; }
      .users-section .users-list li .certification-details {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #9e9e9e;
        position: relative;
        z-index: 2; }
        .users-section .users-list li .certification-details .cert-level {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 10px; }
          .users-section .users-list li .certification-details .cert-level li {
            width: 8px;
            height: 8px;
            border: none;
            background: #c4c3c3;
            border-radius: 50%;
            padding: 0;
            margin-right: 5px;
            position: relative;
            margin-bottom: 0; }
            @media (max-width: 416px) {
              .users-section .users-list li .certification-details .cert-level li {
                margin: 0;
                margin-right: 5px; } }
            .users-section .users-list li .certification-details .cert-level li:before, .users-section .users-list li .certification-details .cert-level li:after {
              display: none; }
            .users-section .users-list li .certification-details .cert-level li.blue {
              background: #387fcb; }
            .users-section .users-list li .certification-details .cert-level li.yellow {
              background: #f7ce44; }
            .users-section .users-list li .certification-details .cert-level li.orange {
              background: #e86c1f; }
            .users-section .users-list li .certification-details .cert-level li.red {
              background: #e81c1c; }
      .users-section .users-list li:nth-child(4n) {
        margin-right: 0; }
        @media (max-width: 876px) {
          .users-section .users-list li:nth-child(4n) {
            margin-right: 3%; } }
      @media (max-width: 876px) {
        .users-section .users-list li:nth-child(3n) {
          margin-right: 0; } }
      @media (max-width: 692px) {
        .users-section .users-list li:nth-child(3n) {
          margin-right: 2%; } }
      @media (max-width: 416px) {
        .users-section .users-list li:nth-child(3n) {
          margin: 0 auto;
          margin-bottom: 20px; } }
      @media (max-width: 692px) {
        .users-section .users-list li:nth-child(2n) {
          margin-right: 0; } }
      @media (max-width: 416px) {
        .users-section .users-list li:nth-child(2n) {
          margin: 0 auto;
          margin-bottom: 20px; } }
      .users-section .users-list li:before {
        width: 50%;
        height: 100%;
        background: #f7f7f7;
        left: 0;
        top: 0;
        content: '';
        position: absolute; }
      .users-section .users-list li:after {
        width: 50%;
        height: 100%;
        background: #ffffff;
        right: 0;
        top: 0;
        content: '';
        position: absolute; }

footer {
  background: #f2f2f2; }
  footer .social-section {
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff; }
    footer .social-section h4 {
      font-size: 18px;
      line-height: 1.4em; }
    footer .social-section .social-menu {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 10px; }
      footer .social-section .social-menu li {
        margin-right: 15px; }
        footer .social-section .social-menu li:last-child {
          margin-right: 0; }
  footer .footer-menus {
    padding: 50px; }
    @media (max-width: 767px) {
      footer .footer-menus {
        padding: 30px;
        padding-bottom: 15px; } }
    footer .footer-menus .footer-menu {
      margin-bottom: 25px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 996px) {
        footer .footer-menus .footer-menu {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
      footer .footer-menus .footer-menu:last-child {
        margin-bottom: 0; }
        @media (max-width: 645px) {
          footer .footer-menus .footer-menu:last-child {
            margin-bottom: 25px; } }
      footer .footer-menus .footer-menu ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media (max-width: 645px) {
          footer .footer-menus .footer-menu ul {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 20px; } }
        footer .footer-menus .footer-menu ul li {
          margin-right: 40px; }
          @media (max-width: 1150px) {
            footer .footer-menus .footer-menu ul li {
              margin-right: 30px; } }
          @media (max-width: 1058px) {
            footer .footer-menus .footer-menu ul li {
              margin-right: 20px; } }
          @media (max-width: 645px) {
            footer .footer-menus .footer-menu ul li {
              width: 100%;
              margin-right: 0;
              text-align: center;
              margin-bottom: 10px; }
              footer .footer-menus .footer-menu ul li img {
                display: block;
                margin: 0 auto; } }
          footer .footer-menus .footer-menu ul li.logo-image {
            width: 70px;
            margin-right: 60px;
            overflow: hidden; }
            @media (max-width: 1102px) {
              footer .footer-menus .footer-menu ul li.logo-image {
                margin-right: 30px; } }
            @media (max-width: 645px) {
              footer .footer-menus .footer-menu ul li.logo-image {
                width: 100%;
                margin-right: 0; } }
            footer .footer-menus .footer-menu ul li.logo-image img {
              float: right; }
              @media (max-width: 645px) {
                footer .footer-menus .footer-menu ul li.logo-image img {
                  float: none; } }
          footer .footer-menus .footer-menu ul li:last-child {
            margin-right: 0; }
        footer .footer-menus .footer-menu ul.payment-methods {
          margin-left: auto; }
          @media (max-width: 996px) {
            footer .footer-menus .footer-menu ul.payment-methods {
              margin-left: 0;
              width: 100%;
              margin-top: 25px; } }
          footer .footer-menus .footer-menu ul.payment-methods h3 {
            font-weight: 700; }
